<div >
  <%= f.label :password %>
  <%= f.password_field :password, required: true, autocomplete: "new-password" %>
  <%= error_message_for(user, :password) %>
</div>
<div >
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
  <%= error_message_for(user, :password_confirmation) %>
</div>
