<%= render "shared/auth/form",
  title: "Create your #{APP_NAME} account",
  model: @user,
  submit_title: "Create account" do |f|
%>
  <%= render partial: "shared/auth/email_form", locals: { f: f, user: @user } %>
  <div >
    <%= f.label :username %>
    <%= f.text_field :username, required: true %>
    <%= error_message_for(@user, :username) %>
  </div>
  <%= render partial: "shared/auth/password_form", locals: { f: f, user: @user } %>
<% end %>
