<div class="container">
  <article>
    <header >
      <span class="flex-between minimal-padding">
        <h3 class="margin-reset">
          <%= page_title(object) %>
        </h3>
        <span>
          <%= page_btn_links object %>
        </span>
      </span>
    </header>
    <%= form_for object, data: { turbo: false } do |f| %>
      <div>
        <% visible_attributes(object).keys.each do |key| %>
          <div class= "minimal-padding">
            <%= f.label key %>
            <%= render_form_field(f, key, field_type: ApplicationHelper::FIELD_TYPES[key]) %>
            <%= error_message_for(object, key) %>
          </div>
        <% end %>
        <br>
        <div class= "minimal-padding">
          <%= f.submit disable_with: "Submiting...", class: "outline"%>
        </div>
      </div>
    <% end %>
  </article>
</div>
