<div class= "container">
  <article>
    <header class="flex-between">
      <h3 class="margin-reset "><%= page_title(klass) %></h3>
      <%= render "shared/search" %>
      <%= link_to "Add New", { action: :new }, class: "outline", role: "button" %>
    </header>
    <% if objects.size > 0 %>
      <% attribute_fn_name ||= :visible_attributes %>
      <table>
        <thead>
          <tr>
            <% send(attribute_fn_name, objects.first).keys.each do |key| %>
              <th><%= key.titleize %></th>
            <% end %>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% objects.each do |object| %>
            <tr class="<%= object.class.to_s.downcase %>">
              <% send(attribute_fn_name, object).each do |key, value| %>
                <td>
                  <% if value.is_a?(String) %>
                    <%= truncate_value(value) %>
                  <% else %>
                    <% if  key.ends_with?("_id")%>
                      <%= render_name_instead_of_reference_id(object, key)%>
                    <% else %>
                      <%= value %>
                    <% end %>
                  <% end %>
                </td>
              <% end %>
              <td><%= render "shared/table_dd", id: object.id %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= previous_next_links %>
    <% else %>
      <h3 class="flex-center page-default-height">You don't have any <%= klass.to_s %> added!</h3>
    <% end %>
  </article>
</div>
