<%= form_for customer, data: { turbo: false } do |f| %>
  <div>
    <div>
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: "first name"%>
    </div>
    <div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: "last name"%>
    </div>
    <div>
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "email"%>
    </div>
    <div>
      <%= f.label :phone %>
      <%= f.text_field :phone, placeholder: "phone"%>
    </div>
    <div>
      <%= f.label :notes %>
      <%= f.text_area :notes, rows: 4, placeholder: "notes"%>
    </div>
    <%= f.submit disable_with: "Submiting..."%>
  </div>
<% end %>
