<div class="container">
  <article>
    <header >
      <span class = "flex-between minimal-padding">
        <h3 class= "margin-reset">
          <%= page_title(customer) %>
        </h3>
        <span>
          <%= page_btn_links customer %>
        </span>
      </span>
    </header>
    <%= form_for customer, data: { turbo: false } do |f| %>
      <div>
        <% visible_attributes(customer).keys.each do |key| %>
          <div class= "minimal-padding">
            <%= f.label key %>
            <%= render_text_field_or_area(f, key) %>
            <%= error_message_for(customer, key) %>
          </div>
        <% end %>
        <br>
        <div class= "minimal-padding">
          <%= f.submit disable_with: "Submiting...", class: "outline"%>
        </div>
      </div>
    <% end %>
  </article>
</div>
