<div class="container">
  <%= render 'shared/flash' %>
  <h3>Customers</h3>
  <%= content_tag :a, "Add New", href: new_customer_path, role: "button" %>
  <table>
    <thead>
      <tr>
        <% customer_visible_attributes(@customers.first).keys.each do |key| %>
          <th><%= key.titleize %></th>
        <% end %>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <% customer_visible_attributes(customer).values.each do |value| %>
            <td><%= value %></td>
          <% end %>
          <td><%= render "shared/table-dd", id: customer.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
