<!DOCTYPE html>
<html>
  <head>
    <title>CarsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= render "shared/nav" if action_name == 'index' %>
    <%= turbo_frame_tag "add_new_modal" %>
    <%= yield %>
  </body>
</html>
